@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/iranian-sans');




body{
    font-family: Iranian Sans;
}

.coffee-title{
    font-size: 37px;
    color: white;
    margin: auto;
    display: block;
    text-align: center;
    /*padding-bottom: 20px;*/
}
.create-button{
    margin: auto;
    display: block;
    padding: 15px 0;
}

.products{
    
}

.navbar{
    height: 70px;
    background: powderblue;
}
.product {
   padding-bottom: 30px; 
}
.product img {
    margin: auto;
    max-width: 60%;
    max-height: 60%;
    padding: 30px 0 0 0  ;
}
.logo{
    width: 50px;
}
.menu{
    width: 45px;
}
html,body,#__next{
    height: 100%;
}
.content{
    
   padding: 0 40px ;
}

.customize-text{
    font-size: 30px;
}

.basket { 
    
}

.basket img  { 
    height: 50px;
}
.basket-item  img{ 
}
.basket-item__image{
    width: 80px;
}